@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Orbitron&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .bg-dotted {
    @apply h-full w-full bg-white/25 bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px];
  }

  .bg-dark-dotted {
    @apply h-full w-full bg-gray-950 bg-[radial-gradient(#1f2937_1px,transparent_1px)] [background-size:16px_16px];
  }

  .logo-ticker-img {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 2rem;
    width: auto;
  }

  .dashboard-card-box {
    @apply resize overflow-auto min-w-[200px] min-h-[200px] max-w-[800px] max-h-[600px];
  }

  .pd-timer {
    @apply text-6xl text-center text-white py-3;
  }

  .pd-switch-btn {
    @apply p-3 rounded-full bg-red-400 hover:bg-red-500 transition-colors duration-200 flex items-center justify-center;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-animation {
    @apply inline-block animate-[wave_2.5s_ease-in-out_infinite];
    transform-origin: 70% 70%;
  }
}
